<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Welcome to Duke NUS</title>
    <meta content="medical school of NUS" name="description">
    <meta content="medicine, medical, study, university, world ranked university" name="keywords">

    <!-- Favicons -->
    <link href="https://www.duke-nus.edu.sg/assets/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800" rel="stylesheet">
    <link href="https://www.duke-nus.edu.sg/assets/NusDuke/css/dukenus-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!-- CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style_scss.css"/> 
    
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="assets/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owlcarousel/owl.theme.default.min.css">
  </head>

  <body>

   <div id="header" class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 px-4">
      <div class="container-fluid">
        <div class="navbar-brand-group">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           </button>
          <a class="navbar-brand" href="#"><img src="https://www.duke-nus.edu.sg/images/default-source/default-album/dukenus-logo.png?sfvrsn=186212c6_3" data-displaymode="Original" alt="Duke-NUS Medical School" title="Duke-NUS Medical School"></a>
          <a class="navbar-brand logo2" href="#"><img src="https://www.duke-nus.edu.sg/images/default-source/default-album/15-years-of-impact-(small).png?sfvrsn=ee0ffd4f_0" data-displaymode="Original" alt="Duke-NUS Celebrate 15 Years of Impact" title="Duke-NUS Celebrates 15 Years of Impact"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Product
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Mens Wear</a></li>
                <li><a class="dropdown-item" href="#">Women Fashion</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Kids Collections</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"><button class="btn btn-login">SIGNUP | LOGIN</button></a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item top-dropdown" href="#" data-bs-toggle="modal" data-bs-target="#login">Customer</a></li>
                <li><a class="dropdown-item top-dropdown" href="#">Supplier</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fa fa-search btn-search"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav id="search" class="navbar1 navbar-expand-lg navbar-light bg-light py-4 px-4 d-none">
        <div class="container">
          <div class="form-row">
            <div class="input-group">
              <input type="search" title="Search input" placeholder="Custom Search" class="form-control dn-search-box" value autocomplete="off">
              <div class="input-group-append">
                <div class="input-group-text dn-btn-search">
                  <i class="fa fa-search"></i>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <ul class="produk">
          <li class="d-inline">
            <a href="#">Tunik</a>
          </li>
          <li class="d-inline">
            <a href="#">Batik</a>
          </li>
          <li class="d-inline">
            <a href="#">Swimsuits</a>
          </li>
          <li class="d-inline">
            <a href="#">Sports Outfit</a>
          </li>
          <li class="d-inline">
            <a href="#">Hijab</a>
          </li>
          <li class="d-inline">
            <a href="#">T-shirt</a>
          </li>
          <li class="d-inline">
            <a href="#">Sarung</a>
          </li>
        </ul>

        </ul>
      </div>
    </nav>

    <div id="menu">
    <nav class="navbar2">
      <div class="d-flex flex-row flex-wrap-reverse bd-highlight mb-3">
        <div id="child-menu" class="d-flex flex-row flex-wrap-reverse">
          <div class="px-3 py-2 bd-highlight menus" @mouseover="clickMenu('discount')" @click="clickMenu('discount')">DISCOUNT</div>
          <div class="px-3 py-2 bd-highlight menus" @mouseover="clickMenu('voucher')" @click="clickMenu('voucher')">VOUCHER</div>
          <div class="px-3 py-2 bd-highlight menus" @mouseover="clickMenu('trending')" @click="clickMenu('trending')">TRENDING</div>
          <div class="px-3 py-2 bd-highlight menus" @mouseover="clickMenu('events')" @click="clickMenu('events')">EVENT</div>
          <div class="px-3 py-2 bd-highlight menus" @mouseover="clickMenu('gebyar')" @click="clickMenu('gebyar')">GEBYAR</div>
        </div>
        <!--- Social Media Section ---->
        <div class="px-2 py-1 ms-auto bd-highlight menus"><a href="#"><i class="fa fa-instagram"></i></a></div>
        <div class="px-2 py-1 bd-highlight menus"><a href="#"><i class="fa fa-facebook-square"></i></a></div>
        <div class="px-2 py-1 bd-highlight menus"><a href="#"><i class="fa fa-twitter"></i></a></div>
        <div class="px-2 py-1 bd-highlight menus"><a href="#"><i class="fa fa-youtube-play"></i></a></div>
      </div>
    </nav>

    <nav id="navbar3" class="navbar3 d-none">
      <div class="container">
        <ul class="nav-dropdown__level2">
          <li v-for="(m, index) in menu" :key="index">
            <a href="#">{{ m.name }}</a>
            <ul>
              <li v-for="(child, key) in m.childs" :key="key"><a :href="child.link">
                {{ child.name }}
              </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row carousel-item-wrapper">
            <div class="img-control d-block col-lg-9 col-md-8 col-sm-12 col-xs-12 px-0"><img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/homepage-20210906103401.png" class="img-carousel" alt="Stock & Up"></div>
            <div class="d-sm-none-custom d-md-block col-lg-3 col-md-4 carousel-desc">
              <div class="carousel-desc-wrapper">
                <p class="title">NATIONAL DAY SPECIAL</p>
                <p>Redeem a LOCK & LOCK Lunch Surprise with min. $30 purchase of Zalora.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row carousel-item-wrapper">
            <div class="img-control d-block col-lg-9 col-md-8 col-sm-12 col-xs-12 px-0"><img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/1920x722px_cs_website_banner_desk_v34_revised-20201210235139.jpg" class="img-carousel" alt="Face Masks"></div>
            <div class="d-sm-none-custom d-md-block col-lg-3 col-md-4 carousel-desc">
              <div class="carousel-desc-wrapper">
                <p class="title">EMOJI FACE MASKS</p>
                <p>With 10 unique designs to choose from, your whole family do stylish masks together.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row carousel-item-wrapper">
            <div class="img-control d-block col-lg-9 col-md-8 col-sm-12 col-xs-12 px-0"><img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/cs_homepage_banner_(desktop)_nocta-20210831190712.png" class="img-carousel" alt="Face Masks"></div>
            <div class="d-sm-none-custom d-md-block col-lg-3 col-md-4 carousel-desc">
              <div class="carousel-desc-wrapper">
                <p class="title">Online Cart Discount</p>
                <p>Get Up to $20 discount today. Change your coupons and purchase our special offers.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="carousel-item">
          <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/1920x722px_cs_website_banner_desk_v34_revised-20201210235139.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/cs_homepage_banner_(desktop)_nocta-20210831190712.png" class="d-block w-100" alt="...">
        </div> -->
      </div>
      <div id="carousel-control" class="d-none">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <i class="fa fa-angle-left"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <i class="fa fa-angle-right"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="banner">
      <div class="d-flex justify-content-around">
          <div class="p-2 bd-highlight d-flex">
            <div class="usp-image">
              <img src="assets/img/purchase.png" class="usp-img-control" />
            </div>
            <div class="usp-text"><p class="usp-text-header my-0">Purchase</p>
            <p class="my-0">We're only one click away</p>
            </div>
          </div>
          <div class="p-2 bd-highlight d-flex">
            <div class="usp-image">
              <img src="assets/img/payment.png" class="usp-img-control" />
            </div>
            <div class="usp-text"><p class="usp-text-header my-0">payment</p>
            <p class="my-0">Pay with Gopay/ Dana</p>
            </div>
          </div>
          <div class="p-2 bd-highlight d-flex">
            <div class="usp-image">
              <img src="assets/img/delivery.png" class="usp-img-control" />
            </div>
            <div class="usp-text"><p class="usp-text-header my-0">Delivery</p>
            <p class="my-0">And you get a free delivery</p>
            </div>
          </div>
      </div>
    </div>

    <div id="category" class="d-flex category">
      <div class="card col-3">
          <div class="contain">
              <div class="wrapper-content">
               <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/meadows_hp_2cs_block_banner_desktop_-20200827004228.jpg" class="card-img-top" alt="...">
             </div>
          </div>
        <div class="card-body">
          <p class="card-text">Meadows</p>
          <p class="card-text-content">Enjoy quality every day with tasty & affordable food choices</p>
        </div>
      </div>
       <div class="card col-3">
          <div class="contain">
              <div class="wrapper-content">
                <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/mini_banner_1-20200422113335-20201001100546.jpg" class="card-img-top" alt="...">
              </div>
          </div>
        <div class="card-body">
          <p class="card-text">Looking For CS Fresh?</p>
          <p class="card-text-content">Get ready for a true foodie adventure at our new CS Fresh stores!</p>
        </div>
      </div>
       <div class="card col-3">
         <div class="contain">
              <div class="wrapper-content">
                <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/grape_hp_2021_mini_banner-20210518185242.jpg" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="card-body">
          <p class="card-text">Beverages Tips on your way</p>
          <p class="card-text-content">Subscribe and keep abreast of beverages tips, lastest picks and more from the grapevine!</p>
        </div>
      </div>
       <div class="card col-3">
         <div class="contain">
              <div class="wrapper-content">
                <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/offers_mini_banner-20200813113347.jpg" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="card-body">
          <p class="card-text">Weekly Offers</p>
          <p class="card-text-content">Get more bang for your buck with our amazing quality deals!</p>
        </div>
      </div>
    </div>

     <div id="category" class="d-flex category">
      <div class="card col-3">
          <div class="contain">
              <div class="wrapper-content">
               <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/meadows_hp_2cs_block_banner_desktop_-20200827004228.jpg" class="card-img-top" alt="...">
             </div>
          </div>
        <div class="card-body">
          <p class="card-text">Meadows</p>
          <p class="card-text-content">Enjoy quality every day with tasty & affordable food choices</p>
        </div>
      </div>
       <div class="card col-3">
          <div class="contain">
              <div class="wrapper-content">
                <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/mini_banner_1-20200422113335-20201001100546.jpg" class="card-img-top" alt="...">
              </div>
          </div>
        <div class="card-body">
          <p class="card-text">Looking For CS Fresh?</p>
          <p class="card-text-content">Get ready for a true foodie adventure at our new CS Fresh stores!</p>
        </div>
      </div>
       <div class="card col-3">
         <div class="contain">
              <div class="wrapper-content">
                <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/grape_hp_2021_mini_banner-20210518185242.jpg" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="card-body">
          <p class="card-text">Beverages Tips on your way</p>
          <p class="card-text-content">Subscribe and keep abreast of beverages tips, lastest picks and more from the grapevine!</p>
        </div>
      </div>
       <div class="card col-3">
         <div class="contain">
              <div class="wrapper-content">
                <img src="https://d3ckgtbv0fk1sf.cloudfront.net/media/cms/banners/offers_mini_banner-20200813113347.jpg" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="card-body">
          <p class="card-text">Weekly Offers</p>
          <p class="card-text-content">Get more bang for your buck with our amazing quality deals!</p>
        </div>
      </div>
    </div>

    <div id="brochure" class="brochure">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h4 class="brochure-heading float-center-md">SPOTLIGHT</h4>
            <div class="float-center-md">
            <div class="card shadow" style="width: 18rem;">
              <img src="https://wallpaperaccess.com/full/2808441.jpg" class="card-img-top" alt="our latest arrivals">
              <div class="card-body">
                <p class="card-text text-center">Don't Miss The Boat! Check out our latest arrivals now!</p>
              </div>
            </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <h4 class="brochure-heading">EVENTS</h4>
            <div v-for="(s, index) in schedule" :key="index" class="events-wrapper">
              <div class="event__block">
                <div class="event__date">
                  <div class="datewrap">
                    <span>{{ s.date }}</span>
                    {{ s.month }}
                  </div>
                </div>
                <a href="#" class="event__title">
                  {{ s.events }}
                </a>
              </div>
            </div>
            <div class="text-center"><button type="button" class="btn btn-outline-secondary btn-view-all">View All Events</button></div>
          </div>
          <div class="col-12 col-lg-4 float-center-md">
            <div class="sf_colsIn" data-sf-element="verticalBanner" data-placeholder-label="verticalBanner">
              <div class="vertical-banner slick-initialized slick-slider">
                <div class="slick-list">
                  <div class="slick-track" style="opacity: 1; width: 100%;">
                    <a href="https://google.com" class="slick-slide">
                      <img src="https://c0.wallpaperflare.com/preview/942/598/427/boy-casual-child-cute.jpg" style="height: 470px"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="category-featured" class="category-featured">
      <div class="container">
        <h4 class="brochure-heading text-center text-primary">MEADOWS</h4>
        <div class="row">
          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5073240_fd592baa437d84843f2020bf5065802e.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">50% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074146_63caf7cbbe4123dab520d953fab35585.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.00</p>
             <p><span class="normal-price">$3.35</span> <span class="discount">25% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Truffle Potato Chips 60g</p>
            </div>
            <div class="button">
              <p class="size">Size: 609/p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/19001_Me_Aust%20Carrot%20500g_FA-01.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$0.95</p>
              <p><span class="discount">0% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Prepacked Australian Carrots +/-500g</p>
            </div>
            <div class="button">
              <p class="size">Size: IPAK</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074141_af4ecf994921eb08309c608f8a367f24.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.00</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">30% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Potato Chips Original 60g</p>
            </div>
            <div class="button">
              <p class="size">Size: 60g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 d-none d-lg-block">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074142_9256951199b02f5ccfbe99fb66210614.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">50% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 d-none d-lg-block">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5073240_fd592baa437d84843f2020bf5065802e.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$2.35</span> <span class="discount">20% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
        <a href="#"><h4 class="brochure-see-all text-center">SEE ALL</h4></a>
      </div>
    </div>

    <div id="category-featured" class="category-featured">
      <div class="container">
        <h4 class="brochure-heading text-center text-primary">MEADOWS</h4>
        <div class="row">
          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5073240_fd592baa437d84843f2020bf5065802e.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">50% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074146_63caf7cbbe4123dab520d953fab35585.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.00</p>
             <p><span class="normal-price">$3.35</span> <span class="discount">25% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Truffle Potato Chips 60g</p>
            </div>
            <div class="button">
              <p class="size">Size: 609/p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/19001_Me_Aust%20Carrot%20500g_FA-01.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$0.95</p>
              <p><span class="discount">0% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Prepacked Australian Carrots +/-500g</p>
            </div>
            <div class="button">
              <p class="size">Size: IPAK</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074141_af4ecf994921eb08309c608f8a367f24.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.00</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">30% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Potato Chips Original 60g</p>
            </div>
            <div class="button">
              <p class="size">Size: 60g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 d-none d-lg-block">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074142_9256951199b02f5ccfbe99fb66210614.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">50% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 d-none d-lg-block">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5073240_fd592baa437d84843f2020bf5065802e.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$2.35</span> <span class="discount">20% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
        <a href="#"><h4 class="brochure-see-all text-center">SEE ALL</h4></a>
      </div>
    </div>

    <div id="category-featured" class="category-featured">
      <div class="container">
        <h4 class="brochure-heading text-center text-primary">MEADOWS</h4>
        <div class="row">
          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5073240_fd592baa437d84843f2020bf5065802e.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">50% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074146_63caf7cbbe4123dab520d953fab35585.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.00</p>
             <p><span class="normal-price">$3.35</span> <span class="discount">25% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Truffle Potato Chips 60g</p>
            </div>
            <div class="button">
              <p class="size">Size: 609/p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/19001_Me_Aust%20Carrot%20500g_FA-01.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$0.95</p>
              <p><span class="discount">0% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Prepacked Australian Carrots +/-500g</p>
            </div>
            <div class="button">
              <p class="size">Size: IPAK</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 mb-sm-1">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074141_af4ecf994921eb08309c608f8a367f24.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.00</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">30% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Potato Chips Original 60g</p>
            </div>
            <div class="button">
              <p class="size">Size: 60g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 d-none d-lg-block">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5074142_9256951199b02f5ccfbe99fb66210614.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$3.35</span> <span class="discount">50% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>

          <div class="col-6 col-lg-2 col-md-3 d-none d-lg-block">
            <div class="img-wrapper">
              <img src="https://coldstorage-s3.dexecure.net/product_thumb/5073240_fd592baa437d84843f2020bf5065802e.jpg" class="img-fluid"/>
            </div>
            <div class="desc">
              <p class="price">$1.65</p>
              <p><span class="normal-price">$2.35</span> <span class="discount">20% OFF</span></p>
              <p class="text-title">MEADOWS</p>
              <p class="text-description">Kids Cereal Honey Hoops 250g</p>
            </div>
            <div class="button">
              <p class="size">Size: 250g</p>
              <button type="button" class="btn btn-primary btn-purchase"><i class="fa fa-shopping-cart"></i></button>
            </div>
          </div>
        </div>
        <a href="#"><h4 class="brochure-see-all text-center">SEE ALL</h4></a>
      </div>
    </div>

    <div class="customer">
      <div class="container py-4">
        <div class="owl-carousel">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <img src="https://images.pexels.com/photos/1704488/pexels-photo-1704488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid img-rounded"/>
              <p class="text-customer">Rangga Aditya</p>
              <p class="text-customer-details">Staff of Human Resource Development of Bli-Bli.com</p>
              <p class="text-location"><span><i class="fa fa-map-marker"></i></span> South Jakarta</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 test__quote">
              <img src="https://www.duke-nus.edu.sg/assets/NUSDuke/img/quote.png" />
            </div>
            <div class="col-lg-7 col-md-7 col-sm-10 col-xs-10">
              <p class="text__txt">I love using the platform because of the services you provide. It also has an outstanding feature that makes the purchase and the payment easier for Indonesians especially those who live in remote areas. I'm loving it.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <img src="http://bisnisnews.id/core/images/uploads/gambar-20200914_Jp58ul.jpg" class="img-fluid img-rounded"/>
              <p class="text-customer">Maudy Ayunda</p>
              <p class="text-customer-details">Actress and Student of Stanford University</p>
              <p class="text-location"><span><i class="fa fa-map-marker"></i></span> Bandung</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 test__quote">
              <img src="https://www.duke-nus.edu.sg/assets/NUSDuke/img/quote.png" />
            </div>
            <div class="col-lg-7 col-md-7 col-sm-10 col-xs-10">
              <p class="text__txt">I love using the platform because of the services you provide. It also has an outstanding feature that makes the purchase and the payment easier for Indonesians especially those who live in remote areas. I'm loving it.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
              <img src="https://upload.beautifulnara.com/wp-content/uploads/2020/02/18221655/bcl-5.jpg" class="img-fluid img-rounded"/>
              <p class="text-customer">Bunga Citra Lestari</p>
              <p class="text-customer-details">Singer</p>
              <p class="text-location"><span><i class="fa fa-map-marker"></i></span> Tangerang</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 test__quote">
              <img src="https://www.duke-nus.edu.sg/assets/NUSDuke/img/quote.png" />
            </div>
            <div class="col-lg-7 col-md-7 col-sm-10 col-xs-10">
              <p class="text__txt">I love using the platform because of the services you provide. It also has an outstanding feature that makes the purchase and the payment easier for Indonesians especially those who live in remote areas. I'm loving it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="email-us text-center">
      <div class="container">
        <div class="content">
          <p class="text-heading">
            Join Our Mailing List
          </p>
          <p class="text-persuasion">and be the first to know of deals and promotions</p>
          <!-- <div id="container-email">
            <div id="input"></div>
            <input type="text" id="hiddenInput">
          </div>  -->
          <div class="form-group email-input">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="button-send-email">
            <div class="button_base-07 b07_3d_double_roll">
                <div>Send <span><i class="fa fa-paper-plane"></i></span></div>
                <div>Send <span><i class="fa fa-paper-plane"></i></span></div>
                <div>Send <span><i class="fa fa-paper-plane"></i></span></div>
                <div>Send <span><i class="fa fa-paper-plane"></i></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row d-flex">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <p class="title">Suci Kurnia Boutique</h4>
          <div class="row d-flex mb-3" style="color:rgb(153, 153, 153)">
            <div class="col-6 d-flex align-items-center">
              <span class="fa fa-map-marker" style="font-size:3.2rem; margin-right: 12px"></span>
              <span>16 Sudirman Road <br />West Jakarta 997548</span>
            </div>
            <div class="col-6 d-flex align-items-center">
              <span class="fa fa-phone" style="font-size:3.2rem; margin-right: 12px"></span>
              <span><a href="tel:682190345678">682190345678</a> <br />Monday-Saturday 7am - 9pm</span>
            </div>
          </div>
        </div>

         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottom-menu">
           <ul>
             <li>About</li>
             <li>Q & A</li>
             <li>Careers</li>
             <li>Contact Us</li>
           </ul>
         </div>
         </div>
      </div>

      <hr />
      <div class="row text-center">
           <p>© Aulia Amirullah. All rights reserved 2021. Suci Kurnia.</p>
         </div>
    </footer>


    <!-- LOGIN/REGISTER -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

   
    <a href="#"><div class="button_base b05_3d_roll">
        <div><i class="fa fa-chevron-up"></i></div>
        <div><i class="fa fa-chevron-up"></i></div>
    </div></a>

  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="assets/js/index.js"></script>
  <!-- <script src="assets/js/hiddenInput.js"></script> -->
  <script src="https://unpkg.com/vue@next" defer></script>
  <!-- <script src="jquery.min.js"></script> -->
  <script src="assets/js/owlcarousel/owl.carousel.min.js"></script> 
  <script src="assets/js/app.js" defer></script>
</html>
